<div class="ekart--product--container">
<!--   <img src="/src/assets/images/d81a761b5b9c6b54e9bc46c58b3f4fc9.jpg">
    <p>Name: {{product.name}}</p>
  <p>Price: {{product.price}}</p>
  <p>Color : {{product.color}}</p>
  <p>Discounted price:{{getDiscountedPrice().toFixed(2)}}</p>
  <p>{{product.inStock >0 ? 'Only ' + product.inStock + ' items left!':'Not in Stock'}}</p>
<button [disabled] = "!(product.inStock > 0)">Buy now</button>
<button (click)="decrementCartValue()">-</button>
<span>{{addToCart}}</span>
<button (click)="incrementCartValue()">+</button> -->
  <search (searchTextChanged)="setSearchText($event)"></search>
<!--   <div *ngFor="let item in listOfString">
    <p>Current element of array is : {{item}} </p>
  </div> -->
  <product-list [searchText]="searchText" #productListComponent ></product-list>
  <product-detail *ngIf="productListComponent.selectedProduct" [productlistcomp]="productListComponent"></product-detail>
</div>
